<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Đăng nhập thành công</title>
  <!-- Sử dụng Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Chào mừng bạn đã đăng nhập thành công!</h4>
    <p class="mb-0">Email của bạn là: <span id="userEmail"></span></p>
  </div>
</div>
<!-- Sử dụng Bootstrap JS (Popper.js và jQuery) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
        // Lấy email từ localStorage và hiển thị lên trang
        var userEmail = localStorage.getItem("token");
        document.getElementById("userEmail").textContent = userEmail;
    </script>
</body>
</html>
